<div class="reporte-container">
    <h2>Reporte de Compras por Empresa</h2>
    <form [formGroup]="form" (ngSubmit)="getCompras()">
      <mat-form-field>
        <mat-label>Seleccionar Empresa</mat-label>
        <mat-select formControlName="empresa">
          <mat-option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
            {{ empresa.nombreEmpresa }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Obtener Reporte</button>
    </form>
    <div *ngIf="selectedEmpresa">
      <h3>Empresa: {{ selectedEmpresa.nombreEmpresa }}</h3>
      <p>Total de Compras: {{ comprasEmpresa.length }}</p>
      <table mat-table [dataSource]="comprasEmpresa" class="mat-elevation-z8">
        <ng-container matColumnDef="fechaCompra">
          <th mat-header-cell *matHeaderCellDef> Fecha de Compra </th>
          <td mat-cell *matCellDef="let compra"> {{compra.fechaCompra | date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let compra"> {{compra.cantidad}} </td>
        </ng-container>
  
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let compra"> {{compra.total | currency}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="!selectedEmpresa">
      <p>Seleccione una empresa para ver el reporte.</p>
    </div>
  </div>