.reporte-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reporte-container h2 {
    text-align: center;
    color: #4A2C2A;
    margin-bottom: 20px;
  }
  
  .reporte-container form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .reporte-container form mat-form-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .reporte-container form button {
    align-self: flex-end;
  }
  
  .reporte-container .no-data {
    text-align: center;
    color: #999;
    font-size: 16px;
  }