<div>
    <h1>Listar Grupo Empresa Agricultor</h1>
    <!-- Contador de registros -->
  <div class="counter-container">
    <span class="counter-label">Total de registros:</span>
    <span class="counter-value">{{ totalRegistros }}</span>
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- ID Agricultor Column -->
    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idGrupoEmpresaAgricultor}} </td>
    </ng-container>

    <!-- Nombre Agricultor Column -->
    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Fecha Union </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaUnion}} </td>
    </ng-container>

    <!-- Correo Agricultor Column -->
    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Estado Miembro </th>
        <td mat-cell *matCellDef="let element"> {{element.estadoMiembro}} </td>
      </ng-container>

    <!-- Teléfono Agricultor Column -->
    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Rol Miembro </th>
        <td mat-cell *matCellDef="let element"> {{element.rolMiembro}} </td>
    </ng-container>

    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Observaciones </th>
        <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>

    <!-- Usuario Column -->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.empresa.nombreEmpresa}} </td>
    </ng-container>

    <!-- Usuario Column -->
    <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Agricultor </th>
        <td mat-cell *matCellDef="let element"> {{element.agricultor.nombreAgricultor}} </td>
    </ng-container>
  
      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon 
            (click)="eliminar(user.idGrupoEmpresaAgricultor)" 
            style="cursor: pointer;"
          >
            delete
          </mat-icon>
          <mat-icon 
            style="cursor: pointer; margin-left: 8px;" 
            [routerLink]="['ediciones', user.idGrupoEmpresaAgricultor]"
          >
            edit
          </mat-icon>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    <mat-paginator [pageSizeOptions]="[4, 8, 10]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
        </mat-paginator>
</div>



