<div>
    <h1>Listar Agricultor</h1>
    <!-- Contador de registros -->
  <div class="counter-container">
    <span class="counter-label">Total de registros:</span>
    <span class="counter-value">{{ totalRegistros }}</span>
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- ID Agricultor Column -->
    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idAgricultor}} </td>
    </ng-container>

    <!-- Nombre Agricultor Column -->
    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreAgricultor}} </td>
    </ng-container>

    <!-- Correo Agricultor Column -->
    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correoAgricultor}} </td>
    </ng-container>

    <!-- Teléfono Agricultor Column -->
    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefonoAgricultor}} </td>
    </ng-container>

    <!-- Ubicación Agricultor Column -->
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacionAgricultor}} </td>
    </ng-container>

    <!-- Tipo Producto Agricultor Column -->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoProductoAgricultor}} </td>
    </ng-container>

    <!-- Usuario Column -->
    <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.username}} </td>
    </ng-container>
  
      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon 
            (click)="eliminar(user.idAgricultor)" 
            style="cursor: pointer;"
          >
            delete
          </mat-icon>
          <mat-icon 
            style="cursor: pointer; margin-left: 8px;" 
            [routerLink]="['ediciones', user.idAgricultor]"
          >
            edit
          </mat-icon>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    <mat-paginator [pageSizeOptions]="[4, 8, 10]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
        </mat-paginator>
</div>
  