<div class="navbar">
    <img src="LOGO1.png" alt="AgroFuturo Logo" height="50" width="50"/>
    <nav>
        <a href="empresa-home">Inicio</a>
        <a href="empresa-mercados">Mercados</a>
        <a href="empresa-grupos">Grupos</a>
        <a href="empresa-agricultores">Agricultores</a>
        <a href="empresa-ayuda">Ayuda</a>
    </nav>
    <div class="profile">
        <img src="https://storage.googleapis.com/a1aa/image/iJFjOfkWbYQqGKtzrJ8TmukRkKz5c7E1c4wcWgChoQ7RQv4JA.jpg" alt="User Profile" height="40" width="40"/>
        <a href="/empresa-perfil" style="color: white;">Mi Perfil</a>
    </div>
</div>
<div class="banner">
    <h1>GRUPOS</h1>
    <p>Conéctate con agricultores y forma grupos de trabajo</p>
</div>
<div class="welcome">
    <h2>Registrar Grupo Empresa Agricultor</h2>
</div>
<div class="content">
    <router-outlet></router-outlet>
    <div class="group-form-container">
        <app-creaeditagrupo></app-creaeditagrupo>
    </div>
</div>