<div>
    <div><h1>Registrar Agricultor</h1></div>
    <div>
        <form [formGroup]="form" (submit)="aceptar()">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>ID Agricultor</mat-label>
            <input matInput formControlName="hidAgricultor" readonly>
            <mat-error *ngIf="form.controls['hidAgricultor'].hasError('required') && form.controls['hidAgricultor'].touched">
              El ID de agricultor es requerido.
            </mat-error>
          </mat-form-field>
          <br/>
          
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de Agricultor</mat-label>
            <input matInput placeholder="Nombre de Agricultor" formControlName="hnombreAgricultor">
            <mat-error *ngIf="form.controls['hnombreAgricultor'].hasError('required') && form.controls['hnombreAgricultor'].touched">
              El nombre de agricultor es requerido.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Correo de Agricultor</mat-label>
            <input matInput placeholder="Correo de Agricultor" formControlName="hcorreoAgricultor">
            <mat-error *ngIf="form.controls['hcorreoAgricultor'].hasError('required') && form.controls['hcorreoAgricultor'].touched">
              El correo de agricultor es requerido.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Teléfono de Agricultor</mat-label>
            <input matInput placeholder="Teléfono de Agricultor" formControlName="htelefonoAgricultor">
            <mat-error *ngIf="form.controls['htelefonoAgricultor'].hasError('required') && form.controls['htelefonoAgricultor'].touched">
              El teléfono de agricultor es requerido.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Ubicación de Agricultor</mat-label>
            <input matInput placeholder="Ubicación de Agricultor" formControlName="hubicacionAgricultor">
            <mat-error *ngIf="form.controls['hubicacionAgricultor'].hasError('required') && form.controls['hubicacionAgricultor'].touched">
              La ubicación de agricultor es requerida.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field>
            <mat-label>Tipo Agricultor</mat-label>
            <mat-select formControlName="htipo">
              <mat-option *ngFor="let food of listaTipos" [value]="food.value">{{food.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['htipo'].hasError('required') && form.controls['htipo'].touched">
              El tipo es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 

          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="husuario">
              <mat-option *ngFor="let user of listaUsuarios" [value]="user.idUsuario">{{user.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['husuario'].hasError('required') && form.controls['husuario'].touched">
              El usuario es requerido.
            </mat-error>
          </mat-form-field>
          <br/>

          <div class="button-container">
            <button mat-flat-button color="primary" style="background-color: #0d31e4;">Registrar</button>
        </div>

        <div class="button-container">
            <button mat-flat-button color="primary" [routerLink]="['/agricultor']" style="background-color: #0d31e4;" >Cancelar</button>
        </div>
        </form>
    </div>
</div>