body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #4A2C2A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Hace que la navbar sea fija */
    top: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que la navbar esté sobre otros elementos */
}

.navbar img {
    height: 50px;
}

.navbar nav {
    display: flex;
    gap: 15px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar nav a:hover {
    background-color: #45a049;
    border-radius: 4px;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 40px; /* Añadir margen derecho */
}

.profile img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #45a049;
    border-radius: 4px;
}

.banner {
    background-image: url('/AgroFuturo/public/FONDO-LP.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    width: 1200px;  /* Ancho fijo de 1200 píxeles */
    height: 400px;  /* Altura fija de 400 píxeles */
    max-width: 100%;  /* Para asegurar que no se desborde en pantallas más pequeñas */
    margin: auto;  /* Centrar la imagen horizontalmente */
    margin-top: 70px; /* Para evitar que la barra de navegación cubra el contenido */
}

.banner h1 {
    font-size: 70px; /* Tamaño de fuente aumentado */
    margin: 0;
    color: white; /* Color de fuente cambiado a blanco */
}

.banner p {
    font-size: 20px;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #372727;
    color: white;
    font-size: 2em;
    padding: 20px 0;
    margin: 0; /* Eliminación de márgenes para unir con la sección .content */
}

.background {
    background-color: #f0f8f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Añadir margen superior para separar del banner */
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos horizontalmente */
}

h1 {
    text-align: center;
    color: #28a745;
    margin-bottom: 20px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Añadir margen inferior para separar los campos */
}

.button-container {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Asegurar que los botones ocupen todo el ancho */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}