<div class="navbar">
    <img src="LOGO1.png" alt="AgroFuturo Logo" height="50" width="50"/>
    <nav>
        <a href="empresa-home">Inicio</a>
        <a href="empresa-mercados">Mercados</a>
        <a href="empresa-grupos">Grupos</a>
        <a href="empresa-agricultores">Agricultores</a>
        <a href="empresa-ayuda">Ayuda</a>
    </nav>
    <div class="profile">
        <img src="https://storage.googleapis.com/a1aa/image/iJFjOfkWbYQqGKtzrJ8TmukRkKz5c7E1c4wcWgChoQ7RQv4JA.jpg" alt="User Profile" height="40" width="40"/>
        <a href="/empresa-perfil" style="color: white;">Mi Perfil</a>
    </div>
</div>
<div class="banner">
    <h1>AGRICULTORES</h1>
    <p>Conéctate con agricultores y forma alianzas estratégicas</p>
</div>
<div class="welcome">
    <h2>Agricultores Disponibles</h2>
</div>
<div class="content">
    <router-outlet></router-outlet>
    <div [hidden]="route.children.length!==0">
        <app-listaragricultor></app-listaragricultor>
    </div>
</div>